/Test
/Ignore
/Удалить
/.vscode
/KD3Git

# Игнорируем все файлы с .local в названии везде
**/*.local.*

# Включаем папку Шаблоны и всё её содержимое
!Шаблоны/
!Шаблоны/**

# Включаем файлы .local.* внутри Шаблоны
!Шаблоны/**/*.local.*